<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="">
    <title>Cadastro cliente</title>

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="form-validation.css"> -->
    
    <script src="/scripts/addDelField.js" defer></script>
    <script src="/public/scripts/needsValidation.js" defer></script>
</head>
<body style="background-color: #f0f0f0;">
    <header class="py-1 mb-4 bg-rage text-white">
        <div class="container">
          <nav class="navbar navbar-expand navbar-dark bg-rage">
            <a class="navbar-brand mr-5" href="#"><img src="/public/images/disco.png" alt="Rage vinyl's" width="55" height="55"></a>   
          </nav>
        </div>
      </header>
    <main class="container-fluid">  
        <div class="py-3 text-center">
            <h2>Cadastro de cliente</h2>
            <p class="lead">Preencha o formulário com seu dados</p>
        </div>

        <div class="row">
            <div class="col-md-8 mx-auto order-md-1 rounded-top bg-white">
                <h4 class="my-3">Seus dados</h4>
                <form class="needs-validation" id="create-client" method="" novalidate>
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <label for="pnome">Primeiro nome</label>
                            <input type="text" class="form-control" id="pnome" required>
                            <div class="invalid-feedback">
                                É obrigatório inserir um nome válido.
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="mnome">Nome do meio</label>
                            <input type="text" class="form-control" id="mnome" required>
                            <div class="invalid-feedback">
                                É obrigatório inserir um nome válido.
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="unome">Sobrenome</label>
                            <input type="text" class="form-control" id="unome" required>
                            <div class="invalid-feedback">
                                É obrigatório inserir um nome válido.
                            </div>
                        </div>
                    </div>

                        <div class="mb-2">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" placeholder="pessoa@exemplo.com" required>
                            <div class="invalid-feedback">
                            Por favor, insira um endereço de e-mail válido.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 mb-2">
                                <label for="dtNasc">Data de nascimento</label>
                                <input type="date" id="dtNasc" class="form-control" required>
                                <div class="invalid-feedback">
                                    Por favor, insira uma data de nascimento.
                                </div>
                            </div>
                            <div class="col-7 mb-2">
                                <label for="cpf">CPF <span>(Somente números)</span></label>
                                <input type="text" class="form-control" id="cpf" placeholder="000.000.000-00" maxlength="11" required>
                                <div class="invalid-feedback">
                                    Por favor, insira um cpf válido.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <label for="ddd">DDD</label>
                                <input type="text" class="form-control" id="unome" placeholder="(xx)" maxlength="2" required>
                                <div class="invalid-feedback">
                                    Insira um DDD.
                                </div>
                            </div>
                            <div class="col-9 mb-2">
                                <label for="phone">Telefone  <span><small>(Somente números)</small></span></label>
                                <input type="tel" name="phone" id="phone" pattern="[0-9]{5||4}-[0-9]{4}" placeholder="90000-0000" class="form-control" maxlength="9" required>
                                <div class="invalid-feedback">
                                    Por favor, insira um telefone valido.
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-block my-3">
                            <p class="mb-1">Gênero</p>    
                            <div class="custom-control custom-radio">
                                <input id="male" name="genero" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="male">Masculino</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="female" name="genero" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="female">Feminino</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="other" name="genero" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="other">outro</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="noRespond" name="genero" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="noRespond">Prefiro não responder</label>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <fieldset id="address-items">
                            <h4 class="mb-3">Seus endereços</h4>
                            <div class="row justify-content-between mb-3">
                                <div class="col-6 my-auto"><span>Endereço</span>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-outline-secondary rounded-0" id="add-address">+Novo endereço</button>
                                </div>
                            </div>
                            <hr class="mb-2">
                            <div class="address-item">
                                <div class="d-block my-3">
                                    <p class="mb-1">Tipo de endereço</p>
                                    <div class="custom-control custom-radio">
                                        <input id="eCobranca" name="type-Endereco[]" type="radio" class="custom-control-input"  required><label for="eCobranca" class="custom-control-label">Endereco de cobrança</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="eResidencia" name="type-Endereco[]" type="radio" class="custom-control-input"  required><label for="eResidencia"  class="custom-control-label">Endereco de residência</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-2">
                                        <label for="res-type">Tipo de residência</label>
                                        <select name="res-type[]" class="form-control" id="" required>
                                            <option value="">Selecione uma opção</option>
                                            <option value="1">Casa</option>
                                            <option value="2">Casa Geminada</option>
                                            <option value="3">Sobrado</option>
                                            <option value="4">Apartamento</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor, escolha.
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        <label for="log-type">Tipo de Logradouro</label>
                                        <select name="log-type" class="form-control" id=""required>
                                            <option value="">Selecione uma opção</option>
                                            <option value="">Aeroporto</option>
                                            <option value="">Alameda</option>
                                            <option value="">Área</option>
                                            <option value="">Avenida</option>
                                            <option value="">Campo</option>
                                            <option value="">Chácara</option>
                                            <option value="">Colônia</option>
                                            <option value="">Condomínio</option>
                                            <option value="">Conjunto</option>
                                            <option value="">Distrito</option>
                                            <option value="">Esplanada</option>
                                            <option value="">Estação</option>
                                            <option value="">Estrada</option>
                                            <option value="">Favela</option>
                                            <option value="">Fazenda</option>
                                            <option value="">Feira</option>
                                            <option value="">Jardim</option>
                                            <option value="">Ladeira</option>
                                            <option value="">Lago</option>
                                            <option value="">Lagoa</option>
                                            <option value="">Largo</option>
                                            <option value="">Loteamento</option>
                                            <option value="">Morro</option>
                                            <option value="">Núcleo</option>
                                            <option value="">Parque</option>
                                            <option value="">Passarela</option>
                                            <option value="">Pátio</option>
                                            <option value="">Praça</option>
                                            <option value="">Quadra</option>
                                            <option value="">Recanto</option>
                                            <option value="">Residencial</option>
                                            <option value="">Rodovia</option>
                                            <option value="">Rua</option>
                                            <option value="">Setor</option>
                                            <option value="">Sítio</option>
                                            <option value="">Travessa</option>
                                            <option value="">Trecho</option>
                                            <option value="">Trevo</option>
                                            <option value="">Vale</option>
                                            <option value="">Vereda</option>
                                            <option value="">Via</option>
                                            <option value="">Viaduto</option>
                                            <option value="">Viela</option>
                                            <option value="">Vila</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor, escolha.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-2">
                                        <label for="log">Logradouro</label>
                                        <input type="text" name="log[]" id="log" class="form-control" required>
                                        <div class="invalid-feedback">
                                            Por favor, insira um logradouro.
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        <label for="num">Número</label>
                                        <input type="number" name="num[]" id="num" size="2" class="form-control" required>
                                        <div class="invalid-feedback">
                                            Por favor, insira um número.
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        <label for="bairro">Bairro</label>
                                        <input type="text" name="bairro[]" id="bairro" class="form-control" required>
                                        <div class="invalid-feedback">
                                            Por favor, insira um bairro.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-2">
                                        <label for="comp">Complemento</label>
                                        <input type="text" name="comp[]" id="comp" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="cidade">Cidade</label>
                                        <input type="text" name="cidade[]" id="cidade" class="form-control" required>
                                        <div class="invalid-feedback">
                                            Por favor, Insira o municipio.
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="cep">CEP</label>
                                        <input type="text" name="cep[]" maxlength="9" class="form-control" required>
                                        <div class="invalid-feedback">
                                            Por favor, insira um cpf válido.
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="estado">Estado</label>
                                        <select name="estado[]"class="form-control" required>
                                            <option value="">Selecione</option>
                                            <option value="0">AL</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor, escolha um Estado.
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-3">
                            </div>
                        </fieldset>
                        <h4 class="mb-3">Pagamento</h4>

                        <div class="d-block my-3">
                          <div class="custom-control custom-radio">
                            <input id="credito" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                            <label class="custom-control-label" for="credito">Cartão de crédito</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input id="debito" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="debito">Cartão de débito</label>
                          </div>
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <label for="cc-nome">Nome no cartão</label>
                            <input type="text" class="form-control" id="cc-nome" placeholder="" required>
                            <small class="text-muted">Nome completo, como mostrado no cartão.</small>
                            <div class="invalid-feedback">
                              O nome que está no cartão é obrigatório.
                            </div>
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="cc-numero">Número do cartão de crédito</label>
                            <input type="text" class="form-control" id="cc-numero" placeholder="" required>
                            <div class="invalid-feedback">
                              O número do cartão de crédito é obrigatório.
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mb-3">
                            <label for="cc-expiracao">Data de expiração</label>
                            <input type="text" class="form-control" id="cc-expiracao" placeholder="" required>
                            <div class="invalid-feedback">
                              Data de expiração é obrigatória.
                            </div>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label for="cc-cvv">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                            <div class="invalid-feedback">
                              Código de segurança é obrigatório.
                            </div>
                          </div>
                        </div>
                        <hr class="mb-3">
                        <div class="row justify-content-between">
                            <div class="mb-3 col-auto">
                                <button href="/" class="btn btn-lg btn-outline-secondary rounded-0" type="button">Cancelar</button>
                            </div>
                            <div class="mb-3 col-auto">
                                <button class="btn btn-lg btn-success  rounded-0"  type="submit" form="create-client">Salvar cadastro</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="bg-rage mb-0 mt-5 py-5 text-muted text-center text-small">
        <p class="mb-1">2021 Lucas José de Almeida Moura</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script> -->
</body>
</html>