<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles/main.css">
</head>
<body style="background-color: #f0f0f0;">
    <header class="py-1 mb-4 bg-rage text-white">
        <div class="container">
          <nav class="navbar navbar-expand navbar-dark bg-rage">
            <a href="/src/pages/views/admin/gerClients.html"><button type="button" class="btn btn-lg btn-outline-light my-2 rounded-0">Voltar</button></a> 
          </nav>
        </div>
    </header>
    <!-- <main class="container-fluid">
      <div class="row">
        <div class="col-10 rounded-top bg-white mx-auto">
          <h4 class="my-3">Endereços do cliente</h4>
          <article>
            <div class="row mb-3 mx-auto">
              <div class="col-md-3 border border-secondary "><h5>Endereço 01</h5></div>
              <div class="col-md-8 border border-secondary ">
                <div class="row p-1">
                  <div class="col-4 ">Tipo de enderço:</div>
                  <div class="col-6 ">.col-md-6</div>
                </div>
                <div class="row p-1">
                  <div class="col-4 ">Tipo de residência:</div>
                  <div class="col-6 ">.col-md-6</div>
                </div>
                <div class="row p-1">
                  <div class="col-4 ">Endereço:</div>
                  <div class="col-6 ">.col-md-6</div>
                </div>
                <div class="row p-1">
                  <div class="col-4 ">Complemento:</div>
                  <div class="col-6 ">.col-md-6</div>
                </div>
                <div class="row p-1">
                  <div class="col-4 ">Cidade:</div>
                  <div class="col-6 ">.col-md-6</div>
                </div>
                <div class="row p-1">
                  <div class="col-4 ">CEP:</div>
                  <div class="col-6 ">.col-md-6</div>
                </div>
                <div class="row p-1">
                  <div class="col-4 ">Estado:</div>
                  <div class="col-6 ">.col-md-6</div>
                </div>
              </div>
            </div>
            <hr>
          </article>
        </div>
      </div>
    </main> -->
    <main class="container-fluid"> 
        <div class="row">
            <div class="col-md-8 mx-auto order-md-1 rounded-top bg-white">
              <form action="">
                <fieldset id="address-items">
                  <h4 class="mb-3">Endereços de</h4>
                  <div class="row justify-content-between mb-3">
                      <div class="col-6 my-auto"><span>Endereço 01</span>
                      </div>
                      <div class="col-auto">
                          <button type="button" class="btn btn-outline-secondary rounded-0" id="add-address">+Novo endereço</button>
                      </div>
                  </div>
                  <hr class="mb-2">
                  <div class="address-item">
                      <div class="d-block my-3">
                          <p class="mb-1">Tipo de endereço</p>
                              <div class="custom-control custom-radio">
                                  <input id="eCobranca" name="type-Endereco[]" type="radio" class="custom-control-input"  required><label for="eCobranca" class="custom-control-label">Endereco de cobrança</label>
                              </div>
                              <div class="custom-control custom-radio">
                                  <input id="eResidencia" name="type-Endereco[]" type="radio" class="custom-control-input"  required><label for="eResidencia"  class="custom-control-label">Endereco de residência</label>
                              </div>
                      </div>
                      <div class="row">
                          <div class="col mb-2">
                              <label for="res-type">Tipo de residência</label>
                              <select name="res-type[]" class="form-control" id="" required>
                                  <option value="">Selecione uma opção</option>
                                  <option value="1">Casa</option>
                                  <option value="2">Casa Geminada</option>
                                  <option value="3">Sobrado</option>
                                  <option value="4">Apartamento</option>
                              </select>
                              <div class="invalid-feedback">
                                  Por favor, escolha.
                              </div>
                          </div>
                          <div class="col mb-2">
                              <label for="log-type">Tipo de Logradouro</label>
                              <select name="log-type" class="form-control" id=""required>
                                  <option value="">Selecione uma opção</option>
                                  <option value="">Aeroporto</option>
                                  <option value="">Alameda</option>
                                  <option value="">Área</option>
                                  <option value="">Avenida</option>
                                  <option value="">Campo</option>
                                  <option value="">Chácara</option>
                                  <option value="">Colônia</option>
                                  <option value="">Condomínio</option>
                                  <option value="">Conjunto</option>
                                  <option value="">Distrito</option>
                                  <option value="">Esplanada</option>
                                  <option value="">Estação</option>
                                  <option value="">Estrada</option>
                                  <option value="">Favela</option>
                                  <option value="">Fazenda</option>
                                  <option value="">Feira</option>
                                  <option value="">Jardim</option>
                                  <option value="">Ladeira</option>
                                  <option value="">Lago</option>
                                  <option value="">Lagoa</option>
                                  <option value="">Largo</option>
                                  <option value="">Loteamento</option>
                                  <option value="">Morro</option>
                                  <option value="">Núcleo</option>
                                  <option value="">Parque</option>
                                  <option value="">Passarela</option>
                                  <option value="">Pátio</option>
                                  <option value="">Praça</option>
                                  <option value="">Quadra</option>
                                  <option value="">Recanto</option>
                                  <option value="">Residencial</option>
                                  <option value="">Rodovia</option>
                                  <option value="">Rua</option>
                                  <option value="">Setor</option>
                                  <option value="">Sítio</option>
                                  <option value="">Travessa</option>
                                  <option value="">Trecho</option>
                                  <option value="">Trevo</option>
                                  <option value="">Vale</option>
                                  <option value="">Vereda</option>
                                  <option value="">Via</option>
                                  <option value="">Viaduto</option>
                                  <option value="">Viela</option>
                                  <option value="">Vila</option>
                              </select>
                              <div class="invalid-feedback">
                                  Por favor, escolha.
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col mb-2">
                              <label for="log">Logradouro</label>
                              <input type="text" name="log[]" id="log" class="form-control" required>
                              <div class="invalid-feedback">
                                  Por favor, insira um logradouro.
                              </div>
                          </div>
                          <div class="col mb-2">
                              <label for="num">Número</label>
                              <input type="number" name="num[]" id="num" size="2" class="form-control" required>
                              <div class="invalid-feedback">
                                  Por favor, insira um número.
                              </div>
                          </div>
                          <div class="col mb-2">
                              <label for="bairro">Bairro</label>
                              <input type="text" name="bairro[]" id="bairro" class="form-control" required>
                              <div class="invalid-feedback">
                                  Por favor, insira um bairro.
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col mb-2">
                              <label for="comp">Complemento</label>
                              <input type="text" name="comp[]" id="comp" class="form-control">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <label for="cidade">Cidade</label>
                              <input type="text" name="cidade[]" id="cidade" class="form-control" required>
                              <div class="invalid-feedback">
                                  Por favor, Insira o municipio.
                              </div>
                          </div>
                          <div class="col">
                              <label for="cep">CEP</label>
                              <input type="text" name="cep[]" maxlength="9" class="form-control" required>
                              <div class="invalid-feedback">
                                  Por favor, insira um cpf válido.
                              </div>
                          </div>
                          <div class="col">
                              <label for="estado">Estado</label>
                              <select name="estado[]"class="form-control" required>
                                  <option value="">Selecione</option>
                                  <option value="0">AL</option>
                              </select>
                              <div class="invalid-feedback">
                                  Por favor, escolha um Estado.
                              </div>
                          </div>
                      </div>
                      <hr class="mb-3">
                  </div>
              </fieldset>
              </form>
            </div>
        </div>
    </main>
    <footer class="bg-rage mb-0 mt-5 py-4 text-muted text-center text-small">
      <p class="mb-1">2021 Lucas José de Almeida Moura</p>
    </footer>
</body>
</html>